:root {
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}

.principal {
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 13em 0 6em;
}

.container__titulo {
    font-size: 1.75em;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em 2em;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    margin: 0 auto 1em;
    width: 50%;
}

.container__botao:hover {
    background-color: #c5c5c5;
    color: #000000;
    border: 2px solid #f80606;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75em;
    color: var(--cinza-secundário);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 70%;
}

.descricao__titulo {
    font-size: 3em;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    font-size: 1em;
    color: var(--cinza-secundário);
}


.secundario__botao {
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 0.5em;
    display: inline-block;
    margin-top: 1em;
}

.secundario__botao:hover {
    background-color: #c5c5c5;
    color: #000000;
    border: 2px solid #f80606;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 3em;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 2em;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 9em 3em 4em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2.5em;
    gap: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.rodape__texto {
    margin: 1.5em 0;
    color: var(--cinza-secundário);
    font-size: 0.87em;
}

@media screen and (max-width: 768px) {
    .container{
        background-image: none;
        display: block;
    }

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em;
        text-align: center;
    }

    .secundario {
        margin: 0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape {
        margin: 9em 2em 4em;
    }

    .rodape__lista {
        display: block;
    }
}